In [279]:
import pandas as pd

# Read the original CSV file
df = pd.read_csv('C:\\Users\\hp\\Desktop\\ml-practice\\Sep 23 - Sheet 1.csv')

# Initialize dictionaries to store counts for each amount
amount_counts = {2000: 0, 2500: 0, 2950: 0, 3350 : 0}

# Create a list of all dates in the month from the original data
# min_date = min(02-04-2023)
# max_date = max(df['Date'])
date_range = pd.date_range(start='09-01-2023', end='09-30-2023', freq='D')
# Format the dates in 'dd mm yyyy' format and store them in a list
formatted_dates = [date.strftime('%Y-%d-%m') for date in date_range]

# Print the formatted dates

# Create lists to store the data for the new DataFrame
count_2000 = []
count_2500 = []
count_2950 = []
count_3350 = []

print(formatted_dates)

['2023-01-09', '2023-02-09', '2023-03-09', '2023-04-09', '2023-05-09', '2023-06-09', '2023-07-09', '2023-08-09', '2023-09-09', '2023-10-09', '2023-11-09', '2023-12-09', '2023-13-09', '2023-14-09', '2023-15-09', '2023-16-09', '2023-17-09', '2023-18-09', '2023-19-09', '2023-20-09', '2023-21-09', '2023-22-09', '2023-23-09', '2023-24-09', '2023-25-09', '2023-26-09', '2023-27-09', '2023-28-09', '2023-29-09', '2023-30-09']

In [280]:
# Sort the DataFrame by the date column
# df['Payment Date'] = pd.to_datetime(df['Payment Date'], format='%Y-%m-%d', errors='coerce')
df['Payment Date'] = pd.to_datetime(df['Payment Date'], errors='coerce')

# df['Payment Date'] = pd.to_datetime(df['Payment Date'])
df = df.sort_values(by='Payment Date')
df = df.dropna(subset=['Payment Date'])
# print(df.info())

C:\Users\hp\AppData\Local\Temp\ipykernel_16808\2480501353.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Payment Date'] = pd.to_datetime(df['Payment Date'], errors='coerce')

In [281]:
df.head()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 618 entries, 776 to 1501
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          618 non-null    object
 1   Phone Number  618 non-null    object
 2   Roll No       617 non-null    object
 3   Breakfast     618 non-null    object
 4   Lunch         618 non-null    object
 5   Snacks        618 non-null    object
 6   Dinner        618 non-null    object
 7   Cash          101 non-null    object
 8   Paytm         525 non-null    object
 9   Total Amount  618 non-null    object
 10  Payment Date  618 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(10)
memory usage: 57.9+ KB
None

In [282]:
print(amount_counts)

{2000: 0, 2500: 0, 2950: 0, 3350: 0}

In [283]:
# Loop through the date range to calculate counts
dates = []
count_2000 = []
count_2500 = []
count_2950 = []
count_3350 = []
for date in formatted_dates:
    # Convert date to string for comparison
    # Update counts based on the amount
    
    amount_counts = {2000: 0, 2500: 0, 2950: 0, 3350 : 0}
    for index, row in df.iterrows():
        row_date = row['Payment Date']
        # if pd.isna(row_date):
        #     print(row)
        #     break
        row_date = row_date.strftime('%Y-%m-%d')
        # print(row_date, date)
        amount = int(row['Total Amount'])
        # print(amount, type(amount))
        # print(row_date <= date and amount == 2000)
        if row_date <= date and amount == 2000: 
            amount_counts[2000] += 1
        if row_date <= date and amount == 2500:
            amount_counts[2500] += 1
        if row_date <= date and amount == 2950:
            amount_counts[2950] += 1
        if row_date <= date and amount == 3350:
            amount_counts[3350] += 1

    # print(date, amount_counts[2000])
    # print(date, amount_counts[2500])
    print(date, amount_counts[3350])
    # # Append data to the lists
    dates.append(date)
    count_2000.append(amount_counts[2000])
    count_2500.append(amount_counts[2500])
    count_2950.append(amount_counts[2950])
    count_3350.append(amount_counts[3350])

# Create a new DataFrame
# new_df = pd.DataFrame({
#     'Date': dates,
#     '15_coupon_count': count_2000,
#     '20_coupon_count': count_2500,
#     '25_coupon_count': count_2950,
#     '30_coupon_count': count_3350
    
# })

2023-01-09 8

2023-02-09 8
2023-03-09 8
2023-04-09 8
2023-05-09 8
2023-06-09 8
2023-07-09 8
2023-08-09 8
2023-09-09 8
2023-10-09 8
2023-11-09 8
2023-12-09 8
2023-13-09 8
2023-14-09 8
2023-15-09 8
2023-16-09 8
2023-17-09 8
2023-18-09 8
2023-19-09 8
2023-20-09 8
2023-21-09 8
2023-22-09 8
2023-23-09 8
2023-24-09 8
2023-25-09 8
2023-26-09 8
2023-27-09 8
2023-28-09 8
2023-29-09 8
2023-30-09 8

In [284]:
print(count_2000)

[137, 200, 251, 321, 336, 349, 356, 359, 361, 418, 428, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436, 436]

In [285]:
new_df = pd.DataFrame({
    'Date': dates,
    '15_coupon_count': count_2000,
    '20_coupon_count': count_2500,
    '25_coupon_count': count_2950,
    '30_coupon_count': count_3350
    
})

In [286]:
new_df.head(100)

,Date,15_coupon_count,20_coupon_count,25_coupon_count,30_coupon_count
0,2023-01-09,137,71,31,8
1,2023-02-09,200,100,33,8
2,2023-03-09,251,118,39,8
3,2023-04-09,321,128,41,8
4,2023-05-09,336,130,41,8
5,2023-06-09,349,131,41,8
6,2023-07-09,356,132,41,8
7,2023-08-09,359,132,41,8
8,2023-09-09,361,132,41,8
9,2023-10-09,418,132,41,8
10,2023-11-09,428,133,41,8
11,2023-12-09,436,133,41,8
12,2023-13-09,436,133,41,8
13,2023-14-09,436,133,41,8
14,2023-15-09,436,133,41,8
15,2023-16-09,436,133,41,8
16,2023-17-09,436,133,41,8
17,2023-18-09,436,133,41,8
18,2023-19-09,436,133,41,8
19,2023-20-09,436,133,41,8
20,2023-21-09,436,133,41,8
21,2023-22-09,436,133,41,8
22,2023-23-09,436,133,41,8
23,2023-24-09,436,133,41,8
24,2023-25-09,436,133,41,8
25,2023-26-09,436,133,41,8
26,2023-27-09,436,133,41,8
27,2023-28-09,436,133,41,8
28,2023-29-09,436,133,41,8
29,2023-30-09,436,133,41,8

In [287]:
# Save the new DataFrame to a CSV file
new_df.to_csv('Sep_23_Coupons.csv', index=False)

print("Output file 'output.csv' has been created.")

Output file 'output.csv' has been created.