In [2]:
import pandas as pd

In [12]:
all_file = pd.read_csv("/Users/nalishjain/Documents/GitHub/ml-project/data/all_with_onehot.csv")
all_file.head()

,Date,Weekday,MealType,Paytm+Cash,Coupons,SemType,Holiday,CouponsMand,Ajwain Parantha,Aloo Sabzi,...,Kathal,Arvi,Mango,Paneer Lababdar,Seasonal Vegetable (Karela),Dhuli Urad Dal,Aloo Kasoori Methi,Nutrela Peas,Palak Soya,Lauki Chana
0,2022-09-01,3,BreakFast,186.0,117.0,Acad,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022-09-01,3,Lunch,293.0,217.0,Acad,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022-09-01,3,EveningSnacks,37.0,139.0,Acad,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-09-01,3,Dinner,113.0,220.0,Acad,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022-09-02,4,BreakFast,100.0,236.0,Acad,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
coupon_list = [
    "Oct_22_Coupons.csv",
    "Nov_22_Coupons.csv",
    "Dec_22_Coupons.csv",
    "Jan_23_Coupons.csv",
    "Feb_23_Coupons.csv",
    "Mar_23_Coupons.csv",
    "Apr_23_Coupons.csv",
    "May_23_Coupons.csv",
    "Jun_23_Coupons.csv",
    "Jul_23_Coupons.csv",
    "Aug_23_Coupons.csv",
    "Sep_23_Coupons.csv"
]

coupon_file = pd.read_csv(coupon_list[0])
coupon_file['Date'] = pd.to_datetime( coupon_file['Date'], format='%Y-%d-%m')
coupon_file['Date'] = coupon_file['Date'].dt.strftime('%Y-%m-%d')

for i in range(1, len(coupon_list)):
    new_file = pd.read_csv(coupon_list[i])
    new_file['Date'] = pd.to_datetime( new_file['Date'], format='%Y-%d-%m')
    new_file['Date'] = new_file['Date'].dt.strftime('%Y-%m-%d')
    coupon_file = pd.concat([coupon_file, new_file], ignore_index=True)

coupon_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             364 non-null    object
 1   15_coupon_count  364 non-null    int64
 2   20_coupon_count  364 non-null    int64
 3   25_coupon_count  364 non-null    int64
 4   30_coupon_count  364 non-null    int64
dtypes: int64(4), object(1)
memory usage: 14.3+ KB

In [20]:

# Merge DataFrames based on the 'date' column
result_df = pd.merge(all_file, coupon_file, on='Date', how='left')
result_df = result_df.dropna()

result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1329 entries, 99 to 1429
Columns: 134 entries, Date to 30_coupon_count
dtypes: float64(129), int64(2), object(3)
memory usage: 1.4+ MB